# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
obj/*
binaries/*
dependencies/headers/CL/.svn/
sources/ipch/
*.opensdf
*.sdf
*.suo
